[tool.interrogate]
ignore-init-method = true
ignore-init-module = true
ignore-magic = true
ignore-module = true
ignore-nested-functions = true
ignore-nested-classes = true
ignore-private = true
ignore-semiprivate = true
omit-covered-files = true
verbose = 0
exclude = ["tests"]

[tool.black]
line-length = 88
skip_string_normalization = true
target_version = ["py310", "py311"]
