name: Check format

on:
  - pull_request
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Install deps
        run: pip install -r requirements-dev.txt
      - name: Run black
        run: black --check opentaxii/ tests/
      - name: Run isort
        run: isort --check-only opentaxii/ tests/
