name: Check mypy

on:
  - pull_request
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.9
        uses: actions/setup-python@v5
        with:
          python-version: 3.9
      - name: Install deps
        run: pip install -r requirements.txt -r requirements-dev.txt
      - name: Run mypy
        run: mypy
