name: Publish to PyPI/Docker

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+[ab]?[0-9]?'
    branches:
      - master
  pull_request:
    branches:
      - 'master'

jobs:
  build-n-publish-package:
    name: Build and publish to PyPI
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
    - name: Install pypa/build
      run: >-
        python -m
        pip install
        build
        --user
    - name: Build a binary wheel and a source tarball
      run: >-
        python -m
        build
        --sdist
        --wheel
        --outdir dist/
    - name: Create github release
      uses: ncipollo/release-action@v1
      with:
        artifacts: "dist/opentaxii*.whl,dist/opentaxii*.tar.gz"
        bodyFile: "CHANGES.rst"
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: Publish distribution to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        password: ${{ secrets.PYPI_API_TOKEN }}

  build-n-publish-docker:
    name: Build and publish to Docker
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v5
      -
        name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: eclecticiq/opentaxii
      -
        name: Login to Docker Hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
